{{>frontUsers/head}}

<body>

   
        <div data-reactroot="" class="application application_user-system">
            <div class="application__content">
                <div class="main-layout">
                    {{>frontUsers/header}}
                    {{{body}}}
                    {{>frontUsers/footer}}
                </div>
                
            </div>

        </div>
    </div>
    <!-- DEFINE A 'footer' SECTION -->

</body>

</html>