{{>frontUsers/head}}
<body>

<!-- DEFINE A 'header' SECTION -->
{{>frontUsers/header}}
<div id="app">
    <div data-reactroot="" class="application application_user-system">
        <div class="application__content">
            <div class="main-layout">
    {{{body}}}
                {{>frontUsers/footer}}
</div>

</div>

    </div>
</div>
<!-- DEFINE A 'footer' SECTION -->

</body>
</html>