<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

<!-- DEFINE A 'header' SECTION -->
{{{_sections.header}}}

{{{body}}}

<!-- DEFINE A 'footer' SECTION -->
{{{_sections.footer}}}

</body>
</html>