      <div class="widget signup-widget col-md-6 col-md-offset-3" title="">
          <div class="header">
              <h2 class="header__title" >Sign up</h2>
              <div class="header__description" >Here you can create an account for our support
                  center.
                  It is required to send tickets and see documentation. 
              </div>
          </div>
          <form class="form login-widget__form" action="" method="">
            <div class="login-widget__inputs"><label class="form-field login-widget__input"><span
                  class="form-field__label"></span><span class="input input_small"><input type="text" name="email"
                    placeholder="email" aria-required="true" class="input__text" value=""></span></label><label
                class="form-field login-widget__input"><span class="form-field__label"></span><span
                  class="input input_small"><input type="password" name="password" placeholder="password"
                    aria-required="true" class="input__text" value=""></span></label>
    
              <div class="form-group Remember">
                <input type="checkbox" id="Remember">
                <label for="Remember">Remember me</label>
              </div>
            </div>
            <div class="login-widget__submit-button">
              <button class="button button_primary button_large submit-button" onclick="location.href=''">Log
                in</button>
              <br>
    
              <br>
            </div>
          </form>
      </div>
      
      
