{{>backUsers/head}}

<body>

    <!-- DEFINE A 'header' SECTION -->

    <div id="app">
        <div data-reactroot="" class="application application_user-system">
            <div class="application__content">
                <div class="main-layout" id="AdminPanal">
                    {{>backUsers/header}}
                    
                    {{{body}}}
                </div>
            </div>
            {{>backUsers/footer}}
        </div>

    </div>

    </div>
    </div>
    <!-- DEFINE A 'footer' SECTION -->

</body>

</html>