<div class="main-layout-header">
    <div class="main-layout-header__login-links">
        Welcome,
        <span class="main-layout-header__user-name">
            Ahmed
        </span>
    </div>
    <div class="drop-down drop-down_closed language-selector main-layout-header__languages">
        <div aria-expanded="false" aria-autocomplete="list" aria-owns="drop-down-menu_1"
            aria-activedescendant="drop-down-menu_1__0" class="drop-down__current-item" role="combobox" tabindex="0">
            <div>
                <img class="drop-down__current-item-icon"
                    src="https://www.opensupports.com/demos/demo1/images/icons/us.png" aria-hidden="true">English
            </div>
        </div>
        <div class="drop-down__list-container" style="opacity: 0; transform: translateY(20px);">
            <div class="menu undefined">
                <ul id="drop-down-menu_1" role="listbox" class="menu__list">
                    <li id="drop-down-menu_1__0" class="menu__list-item menu__list-item_selected" role="option"><img
                            class="menu__icon" src="https://www.opensupports.com/demos/demo1/images/icons/us.png"
                            aria-hidden="true">
                            English
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-layout--content row">
    <div class="mail__content col-md-12">
        <div class="widget col-md-12" title="">
        </div>
    </div>
</div>
