

                <div class="main-layout-header">
                    <div class="main-layout-header__login-links">
                        <button class="button button_clean button_large" onclick="location.href='/'">
                            Log in
                        </button>
                    </div>
                    <div class="drop-down drop-down_closed language-selector main-layout-header__languages">
                        <div aria-expanded="false" aria-autocomplete="list" aria-owns="drop-down-menu_1"
                             aria-activedescendant="drop-down-menu_1__0" class="drop-down__current-item"
                             role="combobox" tabindex="0">
                            <div><img class="drop-down__current-item-icon"
                                      src="https://www.opensupports.com/demos/demo1/images/icons/us.png"
                                      aria-hidden="true"><!-- react-text: 12 -->English
                                <!-- /react-text -->
                            </div>
                        </div>
                        <div class="drop-down__list-container" style="opacity: 0; transform: translateY(20px);">
                            <div class="menu undefined">
                                <ul id="drop-down-menu_1" role="listbox" class="menu__list">
                                    <li id="drop-down-menu_1__0" class="menu__list-item menu__list-item_selected"
                                        role="option"><img class="menu__icon"
                                                           src="https://www.opensupports.com/demos/demo1/images/icons/us.png"
                                                           aria-hidden="true"><!-- react-text: 18 -->English
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__1" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/es.png"
                                            aria-hidden="true"><!-- react-text: 21 -->Spanish
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__2" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/de.png"
                                            aria-hidden="true"><!-- react-text: 24 -->German
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__3" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/fr.png"
                                            aria-hidden="true"><!-- react-text: 27 -->French
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__4" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/pt.png"
                                            aria-hidden="true"><!-- react-text: 30 -->Portuguese
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__5" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/jp.png"
                                            aria-hidden="true"><!-- react-text: 33 -->Japanese
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__6" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/ru.png"
                                            aria-hidden="true"><!-- react-text: 36 -->Russian
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__7" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/cn.png"
                                            aria-hidden="true"><!-- react-text: 39 -->Chinese
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__8" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/in.png"
                                            aria-hidden="true"><!-- react-text: 42 -->Hindi
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__9" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/tr.png"
                                            aria-hidden="true"><!-- react-text: 45 -->Turkish
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__10" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/it.png"
                                            aria-hidden="true"><!-- react-text: 48 -->Italian
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__11" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/br.png"
                                            aria-hidden="true"><!-- react-text: 51 -->Portuguese(BR)
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__12" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/gr.png"
                                            aria-hidden="true"><!-- react-text: 54 -->Greek
                                        <!-- /react-text -->
                                    </li>
                                    <li id="drop-down-menu_1__13" class="menu__list-item" role="option"><img
                                            class="menu__icon"
                                            src="https://www.opensupports.com/demos/demo1/images/icons/nl.png"
                                            aria-hidden="true"><!-- react-text: 57 -->Dutch
                                        <!-- /react-text -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-layout--content row">
                    <div class="main-signup-page">
                        <div class="widget signup-widget col-md-6 col-md-offset-3" title="">
                            <div class="header">
                                <h2 class="header__title">Sign up</h2>
                                <div class="header__description">Here you can create an account for our support
                                    center.
                                    It is required to send tickets and see documentation.</div>
                            </div>
                            <form class="form signup-widget__form" method="post" action="/productSupport/signIn">
                                <div class="signup-widget__inputs"><label
                                        class="form-field signup-widget__input"><span class="form-field__label">
                                                <!-- react-text: 455 -->Full name
                                    <!-- /react-text --></span><span class="input input_medium"><input
                                        type="text" name="name" aria-required="true" class="input__text"
                                        value=""></span></label><label
                                        class="form-field signup-widget__input"><span class="form-field__label">
                                                <!-- react-text: 460 -->Email
                                    <!-- /react-text --></span><span class="input input_medium"><input
                                        type="text" name="email" aria-required="true" class="input__text"
                                        value=""></span></label><label
                                        class="form-field signup-widget__input"><span class="form-field__label">
                                                <!-- react-text: 465 -->Password
                                    <!-- /react-text --></span><span class="input input_medium"><input
                                        type="password" name="password" aria-required="true"
                                        class="input__text" value=""></span></label><label
                                        class="form-field signup-widget__input"><span class="form-field__label">
                                                <!-- react-text: 470 -->Repeat password
                                    <!-- /react-text --></span><span class="input input_medium"><input
                                        type="password" name="repeated-password" aria-required="true"
                                        class="input__text" value=""></span></label>

                                <div class="signup-widget__captcha">
                                    <div tabindex="0">
                                        <div style="width: 304px; height: 78px;">
                                            <div><iframe
                                                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LenJmYUAAAAABxxo7IJ4MitAXIIiZhHubX_nMxn&amp;co=aHR0cHM6Ly93d3cub3BlbnN1cHBvcnRzLmNvbTo0NDM.&amp;hl=en&amp;type=image&amp;v=v1559543665173&amp;theme=light&amp;size=normal&amp;cb=9gwlikfp9no"
                                                    width="304" height="78" role="presentation"
                                                    name="a-wi3pg07dttkc" frameborder="0" scrolling="no"
                                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                            </div><textarea id="g-recaptcha-response-3" name="g-recaptcha-response"
                                                            class="g-recaptcha-response"
                                                            style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                        </div>
                                    </div>
                                </div><button  class="button button_primary button_large submit-button">Sign
                                up</button>
                            </form>
                        </div>
                    </div>
                </div>
                </div>


