<div class="main-layout-footer">
    <div class="main-layout-footer__powered">
        <!-- react-text: 122 -->Powered by
        <!-- /react-text --><a class="main-layout-footer__os-link"
                               href="http://www.opensupports.com/" target="_blank">AlmotahidaEducationGroup</a><span>
                                <!-- react-text: 125 -->
        <!-- /react-text --></span></div>
</div>
<!-- Scripts -->


<script type="text/javascript" src="/javascripts/js/recaptcha__en.js"></script>
<script type="text/javascript" src="/javascripts/js/main.js"></script>
<script type="text/javascript" src="/javascripts/js/ui.js"></script>
<!-- #Scripts -->