<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <title>OpenSupports</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/main.css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="icon" type="image/x-icon" href="/images/img/favIcon.png">

</head>