@import url(omnes-pro.css);
@import url(http://fonts.googleapis.com/css?family=Coda);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600);
@font-face {
    font-family: WinSoftPro-Medium;
    src: url("../fonts/WinSoftPro-Medium.otf");
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
    font-family: CenturyGothic;
    src: url("../fonts/CenturyGothic.ttf");
}

@font-face {
    font-family: Cairo-Regular;
    src: url("../fonts/Cairo-Regular.ttf");
}
@font-face {
    font-family: HacenAlgeriaHd;
    src: url("../fonts/HacenAlgeriaHd.ttf");
}
@font-face {
    font-family: HacenAlgeriaBd;
    src: url("../fonts/HacenAlgeriaBd.ttf");
}
@font-face {
    font-family: Porkys;
    src: url("../fonts/Porkys.ttf");
}
@font-face {
    font-family: Hayah;
    src: url("../fonts/Hayah.otf");
}
@font-face {
    font-family: GESSTwoLight-Light;
    src: url("../fonts/GESSTwoLight-Light.otf");
}
@font-face {
    font-family: Arial-BoldMT;
    src: url("../fonts/Arial-BoldMT.ttf");
}
@font-face {
    font-family: BankGothic-Regular;
    src: url("../fonts/BankGothic-Regular.ttf");
}
/*======================================================================================================
                            Global
=======================================================================================================*/
