<div class="row AdminDashboard">
    <div class="col-md-12 admin-panel-layout__content">
        <div title="" class="widget">
            <div class="admin-panel-activity">
                <div class="header">
                    <h2 class="header__title">Last Activity</h2>
                </div>
                <div class="menu menu_horizontal-list-bright admin-panel-activity__menu">
                    <ul class="menu__list">
                        <li class="menu__list-item menu__list-item_selected" tabindex="0">
                            My notifications
                        </li>
                        <li class="menu__list-item" tabindex="0">
                            All notifications
                        </li>
                    </ul>
                </div>
                <div>
                    <div>
                        <div class="last_activities">
                            <div class="activity-row"><span class="fa fa-user fa-lg activity-row__icon"
                                    aria-hidden="true"></span><span><a class="activity-row__name-link"
                                        href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                        Palpatine
                                    </a>
                                </span>
                                <span class="activity-row__message">
                                    assigned tickets
                                </span>
                                <span>
                                    <a class="activity-row__ticket-link"
                                        href="/demos/demo1/admin/panel/tickets/view-ticket/470268">
                                        #
                                        470268
                                    </a>
                                </span>
                                <span class="separator"></span>
                            </div>
                        </div>
                        <div class="last_activities">
                            <div class="activity-row"><span class="fa fa-user fa-lg activity-row__icon"
                                    aria-hidden="true"></span><span><a class="activity-row__name-link"
                                        href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                        Palpatine</a></span><span class="activity-row__message">
                                    assigned ticket
                                </span><span><a class="activity-row__ticket-link"
                                        href="/demos/demo1/admin/panel/tickets/view-ticket/549622">
                                        #
                                        549622
                                    </a></span><span class="separator"></span></div>
                        </div>
                        <div class="last_activities">
                            <div class="activity-row"><span class="fa fa-exchange fa-lg activity-row__icon"
                                    aria-hidden="true"></span><span><a class="activity-row__name-link"
                                        href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                        Palpatine</a></span><span class="activity-row__message">
                                    changed department of ticket
                                </span><span><a class="activity-row__ticket-link"
                                        href="/demos/demo1/admin/panel/tickets/view-ticket/549622">
                                        #
                                        549622
                                    </a></span><span class="separator"></span></div>
                        </div>
                        <div class="last_activities">
                            <div class="activity-row"><span class="fa fa-comment-o fa-lg activity-row__icon"
                                    aria-hidden="true"></span><span><a class="activity-row__name-link"
                                        href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                        Palpatine</a></span><span class="activity-row__message">
                                    commented ticket
                                </span><span><a class="activity-row__ticket-link"
                                        href="/demos/demo1/admin/panel/tickets/view-ticket/771982">
                                        #
                                        771982
                                    </a>
                                </span>
                                <span class="separator"></span>
                            </div>
                        </div>
                        <div class="last_activities">
                            <div class="activity-row"><span class="fa fa-exclamation fa-lg activity-row__icon"
                                    aria-hidden="true"></span><span><a class="activity-row__name-link"
                                        href="/demos/demo1/admin/panel/staff/view-staff/1">Chancellor
                                        Palpatine</a></span><span class="activity-row__message">
                                    changed priority of ticket
                                </span>
                                <span>
                                    <a class="activity-row__ticket-link"
                                        href="/demos/demo1/admin/panel/tickets/view-ticket/771982">
                                        #
                                        771982
                                    </a>
                                </span>
                                <span class="separator"></span>
                            </div>
                        </div>
                    </div>
                    <button class="button button_secondary button_large submit-button">Load More</button>
                </div>
            </div>
        </div>
    </div>
</div>