<div class="main-layout-header">
    <div class="main-layout-header__login-links">

        <button class="button button_clean button_large" onclick="location.href='/admin/allUsers'">
            users
        </button>
        <button class="button button_clean button_large" onclick="location.href='/admin/products'">
            products
        </button>
        <button class="button button_clean button_large" onclick="location.href='/admin/tickets/all'">
            tickets
        </button>
    </div>
    <div class="drop-down drop-down_closed language-selector main-layout-header__languages">
        <div aria-expanded="false" aria-autocomplete="list" aria-owns="drop-down-menu_1"
             aria-activedescendant="drop-down-menu_1__0" class="drop-down__current-item"
             role="combobox" tabindex="0">
            <div><img class="drop-down__current-item-icon"
                      src="https://www.opensupports.com/demos/demo1/images/icons/us.png"
                      aria-hidden="true"><!-- react-text: 12 -->English
                <!-- /react-text -->
            </div>
        </div>
    </div>
</div>
<div class="main-layout--content row">
   </div>


