<div class="main-layout-footer">
    <div class="main-layout-footer__powered">
        Powered by
        <a class="main-layout-footer__os-link" href="http://www.opensupports.com/"
            target="_blank">AlmotahidaEducationGroup</a><span>
        </span>
    </div>
</div>
<!-- Scripts -->





<script type="text/javascript" src="/javascripts/js/jquery.js"></script>
<script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript" src="/javascripts/js/main.js"></script>
<script type="text/javascript" src="/javascripts/js/ui.js"></script>
<!-- #Scripts -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "iDisplayLength": 2
        });
    });
</script>