<div class="main-layout-footer">
    <div class="main-layout-footer__powered">
        Powered by
        <a class="main-layout-footer__os-link" id="output" href="http://www.opensupports.com/"
           target="_blank">AlmotahidaEducationGroup</a><span>
        </span>
    </div>
</div>
<!-- Scripts -->


<script type="text/javascript" src="/javascripts/js/jquery.js"></script>
<script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript" src="/javascripts/js/main.js"></script>
<script type="text/javascript" src="/javascripts/js/ui.js"></script>
<script type="text/javascript" src="/javascripts/js/modernizr.custom.80028.js"></script>
<!-- #Scripts -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/i18next/i18next.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "iDisplayLength": 2
        });
    });
</script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io();
    socket.on('adminCommentResponse', function (data) {

        alert(data)
    });
</script>
<script>

    /*  $(document).ready(function () {

          i18next.init({
              lng: 'ar',
              debug: true,
              resources: {
                  en: {
                      translation: {
                          "url": "hellodd world"
                      }
                  },
                  ar: {
                      translation: {
                          "url": "المتحدة ايوكيشن"
                      }
                  }
              }
          }, function (err, t) {
              // init set content
              updateContent();
          });
      });
      i18next.changeLanguage('ar');
    //  updateContent();
      function updateContent() {
          document.getElementById('output').innerHTML = i18next.t('url');
      }*/
</script>

