<div class="main-layout-header">
    <div class="main-layout-header__login-links AdminTabs">
        <span data-translatable>   Welcome // مرحبا   </span>
        <span class="main-layout-header__user-name">
            , {{user.name}}
        </span>
    </div>
    <div class="drop-down drop-down_closed language-selector main-layout-header__languages">
        <div class="drop-down__current-item">
            <div class="lang_change_ar">
                <img class="drop-down__current-item-icon flag"
                     src="/images/img/eg.png" aria-hidden="true">
                Arabic
            </div>
            <div class="lang_change_en">
                English
                <img class="drop-down__current-item-icon flag"
                     src="/images/img/us.png" aria-hidden="true">
            </div>
        </div>
    </div>
</div>
<div class="main-layout--content row">
    <div class="admin-panel-layout">
        <div class="row admin-panel-layout__header">
            <div class="col-md-3">
                <div class="admin-panel-staff-widget">
                    <div class="admin-panel-staff-widget__user-data">
                        <div class="admin-panel-staff-widget__name">{{user.name}}</div>
                        <div class="admin-panel-staff-widget__actions">
                            <button class="button button_link button_large admin-panel-staff-widget__action"
                                    data-translatable
                                    onclick="location.href='/admin/myAccount'">
                                My Account // حسابى
                            </button>
                            <span class="admin-panel-staff-widget__action-separator">|</span>
                            <button class="button button_link button_large admin-panel-staff-widget__action"
                                    onclick="location.href='/productSupport/logout'" data-translatable>
                                Close session // تسجيل خروج
                            </button>
                        </div>
                    </div>
                    <div class="admin-panel-staff-widget__profile-pic-wrapper">
                        <img class="admin-panel-staff-widget__profile-pic" src="/images/profileImages/{{user.img}}">
                    </div>
                </div>
            </div>
            <div class="col-md-9 AdminTabs">
                <div class="admin-panel-menu">
                    <div class="menu menu_horizontal undefined">
                        <ul class="menu__list">
                            <li id="dash_Tab" class="menu__list-item" {{#ifEquals user.role 'admin'}}
                                onclick="location.href='/admin/adminDashboard'" {{else}}
                                onclick="location.href='/stuff/dashboard'" {{/ifEquals}}>
                                <span class="fa fa-tachometer fa-lg menu__icon" aria-hidden="true"></span>
                                <span class="admin-panel-menu__item-text" data-translatable>Dashboard // الرئيسة</span>
                            </li>
                            {{#ifEquals user.role 'admin'}}
                                <li id="users_Tab" class="menu__list-item" onclick="location.href='/admin/allUsers'">
                                    <span class="fa fa-user fa-lg menu__icon" aria-hidden="true"></span>
                                    <span class="admin-panel-menu__item-text"
                                          data-translatable>Users // المستخدمين</span>
                                </li>
                                <li id="products_Tab" class="menu__list-item" onclick="location.href='/admin/products'">
                                    <span class="fa fa-th-list fa-lg menu__icon" aria-hidden="true"></span>
                                    <span class="admin-panel-menu__item-text"
                                          data-translatable>Products // المشاريع</span>
                                </li>
                            {{/ifEquals}}
                            <li id="tickets_Tab" class="menu__list-item" onclick="location.href='/admin/tickets/all'">
                                <span class="fa fa-ticket fa-lg menu__icon" aria-hidden="true"></span>
                                <span class="admin-panel-menu__item-text" data-translatable>Tickets // البطاقات</span>
                            </li>
                            {{!-- <li id="settings_Tab" class="menu__list-item" onclick="location.href='/admin/settings'">
                                <span class="fa fa-cogs fa-lg menu__icon" aria-hidden="true"></span>
                                <span class="admin-panel-menu__item-text">Settings</span>
                            </li> --}}
                        </ul>
                    </div>
                    <div class="menu menu_horizontal-list undefined">
                        <ul class="menu__list 1 tabs">
                            <li class="menu__list-item menu__list-item_selected" data-tab="tab-1" data-translatable>
                                Statistics // الاحصائيات
                            </li>
                            <li class="menu__list-item" data-tab="tab-2" data-translatable>
                                Last Activity // أخر الاحداث
                            </li>
                        </ul>
                        {{!--  --}}
                        <ul class="menu__list 2 tabs">
                            <li class="menu__list-item  menu__list-item_selected" data-tab="tab-1" data-translatable>
                                stuff // فريق العمل
                            </li>
                            <li class="menu__list-item" data-tab="tab-2" data-translatable>
                                users // المستخدمين
                            </li>
                        </ul>
                        {{!--  --}}
                        <ul class="menu__list 3 tabs">
                            <li class="menu__list-item  menu__list-item_selected" data-tab="tab-1" data-translatable>
                                products // المشاريع
                            </li>

                        </ul>
                        {{!--  --}}
                        <ul class="menu__list 4 tabs">
                            <li class="menu__list-item menu__list-item_selected" data-tab="tab-1" data-translatable>
                                All Tickets // كل البطاقات
                            </li>
                            {{#ifEquals user.role 'stuff'}}
                                <li class="menu__list-item " data-tab="tab-2" data-translatable>
                                    MyTickets // بطاقتى
                                </li>
                            {{/ifEquals}}
                        </ul>
                        {{!--  --}}
                        <ul class="menu__list 5 tabs">
                            <li class="menu__list-item menu__list-item_selected" data-tab="tab-1">
                                uy7ik
                            </li>
                            <li class="menu__list-item" data-tab="tab-2">
                                Luyik8uyio
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var pathName = window.location.pathname;
            switch (pathName) {
                case '/admin/adminDashboard':
                    $('#dash_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.1').attr('id', 'dashMenuList');
                    break;
                case '/stuff/dashboard':
                    $('#dash_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.1').attr('id', 'dashMenuList');
                    break;
                case '/admin/allUsers':
                    $('#users_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.2').attr('id', 'usersMenuList');
                    break;
                case '/admin/products':
                    $('#products_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.3').attr('id', 'productsMenuList');
                    break;
                case '/admin/tickets/all':
                    $('#tickets_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.4').attr('id', 'ticketsMenuList');
                    break;
                case '/admin/settings':
                    $('#settings_Tab').addClass('menu__list-item_selected');
                    $('.menu.menu_horizontal-list .menu__list.5').attr('id', 'settingsMenuList');
                    break;

            }
        </script>